.topicos {
    background: var(--azul-degrade); /* Usamos 'background' no lugar de 'background-color' porque a cor utilizada é um gradiente, e não uma cor só */
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap; /* 'flex-wrap:wrap' faz uma quebra de linha no final da tela, para que os elementos não fiquem "vazando" para fora */
    justify-content: center;
}

.topicos__item {
    margin: 2em 0.5em;
}

.topicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.topicos__link:hover {
    color: var(--laranja);
    background-color: var(--branco);
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__link {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }
}